<table class="pure-table pure-table-horizontal">

  <tbody>
    <% pool.each do |t| %>
      <tr>
        <td><img src="<%= t.photo_url %>"></td>
        <td><img src="<%= t.photo_url %>" class="circle"></td>
        <td><%= t.body %></td>
        <td>by <a href="/users/<%= t.user_id %>"><%= get_username(t.user_id) %></a></td>
      </tr>
    <% end %>
  </tbody>

</table>

<!-- <table>
   <%#  @pool.each do |tweet| %>
  <th>Author: <%#= User.find_by(id: tweet.user_id).username %></th>
  <tr>
    <td>Picture Here!!!</td>
    <td> <%#= tweet.body %> </td>
    <td> <%#=  %></td>
  </tr>
  <%# end %>
</table>
 -->
