<% post_id = post.id %>
<tr>
  <article>
    <th>
      <a href="/dashboard/<%= @username %>/post/<%= post_id %>"><%= post.title %></a>
    </th>
    <th>
      <a id ='<%= post_id %>'class="vote-button" href="/post/<%= post_id %>/vote">Like: <%= post.vote %></a>
    </th>
    <th>
      <a href="/post/<%= post_id %>/comment">Comment</a>
    </th>
  </article>
</tr>