<div class='container'>
  <article><a href="/dashboard/<%= @username %>">Dashboard</a></article>
  <article><%= @post.title %></article>
  <article><%= @post.content %></article>

  <% if session[:user_id] == @post.user_id %>
    <a href='/dashboard/<%= @username %>/post/<%= @post.id %>/edit'>Edit</a>
    <%= erb :'_delete', locals: {user: @user, post: @post} %>
  <% end %>

</div>